<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.MANAGE_USB"
        tools:ignore="ProtectedPermissions"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <application
        android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.DocumentsApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@drawable/ic_launcher"
        android:label="@string/name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <meta-data
            android:name="WindowManagerPreference:FreeformWindowSize"
            android:value="[phone|tablet|maximize]" />
        <meta-data
            android:name="WindowManagerPreference:FreeformWindowOrientation"
            android:value="[portrait|landscape]" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.nextguidance.filesexplorer.filemanager.smartfiles.cast.CastOptionsProvider" />


        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.SplashActivity"
            android:exported="true"
            android:theme="@style/DocumentsTheme.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.DocumentsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/DocumentsTheme.Document">
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_DOCUMENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.action.MANAGE_ROOT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.document/root" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- For Quick Setting Tiles -->
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

            <intent-filter>
                <data android:scheme="${applicationId}" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>
        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.StandaloneActivity"
            android:exported="true"
            android:theme="@style/DocumentsTheme.Document">
            <!-- For 'Extract to' suggestion on archives -->
            <intent-filter android:label="File Manager - Extract">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/x-rar-compressed" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-tar" />
                <data android:mimeType="application/gzip" />
            </intent-filter>

            <!-- For 'Copy to' / 'Move to' suggestion -->
            <intent-filter android:label="File Manager - Copy to">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <!-- General 'Open with' suggestion -->
            <intent-filter android:label="File Manager - Open with">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>


        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.setting.SettingsActivity"
            android:exported="true"
            android:label="@string/menu_settings"
            android:theme="@style/DocumentsTheme.Setting">
            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>
        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.AboutActivity"
            android:label="About"
            android:theme="@style/DocumentsTheme.Document">
            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <receiver
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.receiver.PackageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.receiver.MountReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.os.storage.action.VOLUME_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.NoteActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="sensor"
            android:theme="@style/DocumentsTheme.Note">
            <intent-filter
                android:label="Text Viewer"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <receiver
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.receiver.ConnectionsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.action.START_FTPSERVER" />
                <action android:name="${applicationId}.action.STOP_FTPSERVER" />
                <action android:name="${applicationId}.action.FTPSERVER_STARTED" />
                <action android:name="${applicationId}.action.FTPSERVER_STOPPED" />
                <action android:name="${applicationId}.action.START_LISTENING" />
                <action android:name="${applicationId}.action.STOP_LISTENING" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.service.ConnectionsService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="true" />
        <service
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.service.ServerTileService"
            android:exported="true"
            android:icon="@drawable/ic_root_server"
            android:label="@string/toggle_messages"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.service.TransferTileService"
            android:exported="true"
            android:icon="@drawable/ic_root_transfer"
            android:label="@string/transfer_toggle_messages"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.ContentProvider"
            android:authorities="${applicationId}.roots"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.RecentsProvider"
            android:authorities="${applicationId}.recents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.ExternalStorageProvider"
            android:authorities="${applicationId}.externalstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.MediaDocumentsProvider"
            android:authorities="${applicationId}.media.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.NonMediaDocumentsProvider"
            android:authorities="${applicationId}.nonmedia.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.AppsProvider"
            android:authorities="${applicationId}.apps.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.RootedStorageProvider"
            android:authorities="${applicationId}.rootedstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.HeatMapProvider"
            android:authorities="${applicationId}.heatmap.documents"
            android:enabled="false"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.DownloadStorageProvider"
            android:authorities="${applicationId}.downloads.documents"
            android:enabled="false"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.ExplorerProvider"
            android:authorities="${applicationId}.explorer"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.UsbStorageProvider"
            android:authorities="${applicationId}.usbstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.NetworkStorageProvider"
            android:authorities="${applicationId}.networkstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.CloudStorageProvider"
            android:authorities="${applicationId}.cloudstorage.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.provider.ExtraDocumentsProvider"
            android:authorities="${applicationId}.extra.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENT">
            <intent-filter>
                <action android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.common.WebviewActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/DocumentsTheme.Document">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="integrations.cloudrail.com"
                    android:scheme="https" />
            </intent-filter>
            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.cast.ExpandedControlsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/DocumentsTheme.Cast">
            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.ShareDeviceActivity"
            android:exported="true"
            android:label="@string/activity_share"
            android:theme="@style/DocumentsTheme.Note">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <meta-data
                android:name="WindowManagerPreference:SuppressWindowControlNavigationButton"
                android:value="true" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.activities.JunkCleaningActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DocumentsTheme.Document" />

        <service
            android:name="com.nextguidance.filesexplorer.filemanager.smartfiles.service.TransferService"
            android:enabled="true"
            android:foregroundServiceType="dataSync"
            android:exported="true" />

    </application>
</manifest>